:root {
	--font-family-main: 'Source Sans Pro', serif;
	--font-family-second: 'Poppins', serif;
	--font-family-source-sans-3: 'Source Sans 3', serif;
	--font-family-roboto: 'Roboto', serif;
	--black: #000000;
	--white: #FFFFFF;
	--gray: #6F7070;
	--green: #046508;
	--blue: #008FE0;
}
