.container {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	background-color: var(--white);
	justify-content: space-between;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
}

.linksWrapper {
	display: flex;
	gap: 55px;

	li {
		a {
			color: var(--black);
			font-size: 14px;
			font-weight: 600;
			line-height: 21px;
		}
	}
}

.actions {

}

.auth {
	display: flex;
	align-items: center;
	gap: 10px;

	.line {
		width: 1px;
		height: 37px;
		background-color: var(--black);
	}

	a {
		color: var(--black);
		font-size: 14px;
		font-weight: 600;
		line-height: 21px;
		text-decoration: underline var(--black);

	}
}


.login {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;

	span {
		font-family: var(--font-family-second), serif;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		text-align: left;
		color: #1D1D1D;

	}

	input {
		font-family: var(--font-family-second), serif;
		font-size: 14px;
		font-weight: 300;
		line-height: 21px;
		text-align: left;
		color: #1D1D1D;
		border-bottom: 1px solid #1D1D1D;
	}
}

.center {
	display: flex;
	justify-content: center;
}

.btn {
	max-width: 100px;
	border-radius: 24px;
}

.other {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;

	a {
		color: var(--blue);
		text-decoration: underline;
	}
}
